header,section,nav,aside,footer
{
    display:block;
}

.formTitle{

    margin: auto;
    text-align: center;

}

.label_input{
    font-weight: normal;
    width: 40px;
    /*float: left;*/
}

.label_form_width_height{
    font-weight: normal;
    width: 50px;
    /*float: left;*/

    display: inline-block;
    margin: 0px auto;
}

.label_roomName{
    font-weight: normal;
    width: 90px;
    display: block;
    margin-top: 10px;
}

.label_BuildingName{
    font-weight: normal;
    width: 130px;
    display: block;
    margin-top: 10px;
}

.label_roomXY_form_title{
    /*font-weight: normal;*/
    width:180px;
    display: block;
    margin-top: 5px;
}




.label_roomXY_form{
    font-weight: normal;
    width:180px;
    display: block;
    margin-top: 10px;
}



.BTNtest{
    float: right;
}

#logo{
    background-image: url("img/iconForEditor.png");
    background-repeat: no-repeat;
    width: 300px;
    height: 100px;
    /*background-color: red;*/
}

.editorTitle{
    font-family: Arial;
    font-weight: bold;
    /*height: 100px;*/
    font-size: 350%;
    float: left;
    margin-left: 290px;
    margin-top: 30px;

    font-style: italic;
    padding: 0px;

}

#wrapper {
    width: 1000px;
    margin: 0 auto;
}
header {
    border-bottom: 1px solid#D4C5BA;
    height: 120px;
    width: 1000px;
    /*background-color: #FFDBC1;*/
    background-color: #d6d6d6;
}

#mainNav
{
    width: 1000px;
    height: 145px;
    /*border: none;*/

    background-color: #d6d6d6;
    /*background-color: red;*/

}

.mainNavSectionOfButtons{
    width: 100%;
    height: 100px;
    /*background-color: #FFC094;*/
}

.mainNavSectionOfIds{
    /*float: left;*/
    width: 100%;
    height: 40px;
    background-color: #d6d6d6;
    margin-top: 2px;

}



#sideNav{
    width: 200px;
    height: 800px;
    /*border-right: 1px solid#D4C5BA;*/
    /*border-left: 1px solid#D4C5BA;*/
    float: left;
    /*background-color: #FFF4EC;*/
    background-color: #ebebeb;
}

main{
    /*background-color: yellow;*/
    border-right: 1px solid#D4C5BA;
    width: 800px;
    height: 800px;
    float: left;
}

footer{
    width: 1000px;
    height: 40px;
    background-color: #C4C4C4;
    float: left;
}


.mapUnit{
    background:#DCDCDC;
    border-style: none;
    /*width: 50px;*/
    /*height: 50px;*/
    float:left;
    margin:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.room{
    background-color: #FFFFDD;
}

.toilet{
    background-color: #ceffdc;
}


.mapUnit:hover{
    background: #d9f0ab;
    border-style: none;
    /*width: 50px;*/
    /*height: 50px;*/
    float:left;
    margin:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}






.clear
{
    clear:both;
}

.myForm{
    background-color: #DDD1C8;
    border-radius:10px;
    margin: 8px;
    padding: 5px;
}
input{
    display: block;;
}

.SAVEbutton {
    /*background-color: #BE9A81;*/
    /*!*border: none;*!*/
    /*color: white;*/
    /*padding: 3px;*/
    /*!*text-align: center;*!*/
    /*!*text-decoration: none;*!*/
    /*display: inline-block;*/
    /*!*font-size: 16px;*!*/
    float: right;
    color: red;
}

.DeleteRoombutton {
    /*background-color: #BE9A81;*/
    /*!*border: none;*!*/
    /*color: white;*/
    /*padding: 3px;*/
    /*!*text-align: center;*!*/
    /*!*text-decoration: none;*!*/
    /*display: inline-block;*/
    /*!*font-size: 16px;*!*/
    float: left;
}


.SAVEbuttonTXT {
    color: #FF8B15;
}

.DONEbuttonTXT {
    /*color: #07d42f;*/
}

.formDoneBtn{
    margin-top: 10px;
    /*margin: auto;*/
    /*text-align: center;*/
    /*background-color: red;*/
    /*color: #4CAF50;*/
}
.formDoneBtn2{
    margin-top: 10px;
    display: inline;
    float: right;
    /*margin: auto;*/
    /*text-align: center;*/
    /*background-color: red;*/
    /*color: #4CAF50;*/

}

.newObjSymbol{
    margin-top: 20px;
    padding: 0px;
    color: #FF8B15;
    font-size: 130%;
}



.newObjText{
    font-size: 120%;

}

.leftNavAddObjBtn {
    /*margin-top: 15px;*/
    /*width: 110px;*/
    /*height: 60px;*/
    margin-left: 24px;
    display: inline;
    float: left;
    /*padding: 0px;*/
}




.ElevatorStairsIconBtn{
    margin-top:14px ;
    margin-left: 20px;
    width: 70px;
    height: 70px;
    float: left;
}


.createButton {
    text-align: center;
    /*background-color: #f44336;*/
    /*border: none;*/
    /*!*color: white;*!*/
    padding: 3px;
    /*text-align: center;*/
    /*text-decoration: none;*/
    display: inline-block;
    /*font-size: 16px;*/
    float: top;
    top: 0;
}
.createButton2 {
    width: 135px;
}


.spaceUnitsSelection{
    width: 134px;
    height: 34px;
}

.mainNavCategorySection{
    /*position: relative;*/
    float: left;
    /*height: 100 px;*/
    width:130px;
    margin-left: 5px;
    /*background-color: green;*/
}






.createButton {
    /*position: absolute;*/
    text-align: center;
    /*background-color: #f44336;*/
    /*border: none;*/
    /*color: white;*/
    padding: 3px;
    width: 110px;
    /*text-decoration: none;*/
    /*display: inline-block;*/
    /*font-size: 16px;*/
    float: top;
    /*top: 0;*/
    margin: 0 auto;
    left: 50%;
}


.buttonAdd {
    border-radius: 10%;
    background-color: #4CAF50;
}

.buttonAddStairs {
    border-radius: 10%;
    background-color: #F08080;
}

.elevator {
    background-size: 58px 58px;
    /*background-image: url(image/elevator.png);*/
    background-image: url("img/elevator.png");
    border-color: #696969;
    /*background-color: #4CAF50;*/
}

.stairs{
    background-size: 58px 58px;
/*background-image: url(image/elevator.png);*/
    background-image: url("img/stairs.png");
    border-color: #696969;
    /*background-color: red;*/
}



.spaceUnitMenueIds{
    color: #8b8b8b;
    float: left;
    padding-right: 8px;
    padding-left: 12px;
    margin: 0px;
    font-size: 17px;

}

.spaceUnitMenueIdsBoldText{
     font-weight: bold;
    color: #808080;
}

.clickOnSpaceUnitMenu{
    width: 150px;

}

/*legend{*/
    /*margin-top: 33px;*/
/*}*/

.mapUnitsSectionTools{
    /*background-color: red;*/
    /*icon width */
    width: 40px;
    /*34 icon height*3 icons*/
    height: 102px;
    margin-top: 38px;
    /*position: absolute;*/
    float: right;
}

.mapUnitsSymbolsTools{
    color: #FF8B15;
}


#mapSection{
    margin:0 auto; /*moving the map serface to te middle*/
    margin-top: 70px;
    background: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    z-index: 4;
    /*float: none;*/
}

